* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color1;
    font: {
        family: 'Roboto', sans-serif;
        size: 18px;
    }
    color: $color3;
}

.container {
    width:90%;
    max-width: 980px;
    margin: 0 auto;

}

a {
    text-decoration:none;
    color:inherit;
}

h2 {
    font: {
        weight: normal;
        size: 35px;
    }
    
}

h3 {
    font: {
    weight: normal;
    size: 24px;
    }
    margin-bottom: 30px;
}

.fields {
//     display: flex;
    position: relative;
 }

